<section class="Hero HeroContainer">
  <h1 class="HeroTitle">
    <svg width="59" height="59">
      <use href="/images/icons.svg#icon-30"></use>
    </svg>
    <span class="Line1">Get <i>Body</i> in</span><br />
    <span class="Line2">shape, Stay healthy</span>
  </h1>
  <p class="HeroDescription">
    Transform your physique and embrace a healthier lifestyle with our
    comprehensive fitness and nutrition support.
  </p>
  <div class="HeroMainImage">
    <img
      srcset="./images/hero/hero.webp 1x, ./images/hero/hero-2x.webp 2x"
      src="./images/hero/hero.webp"
      alt="women-sportswear-working-out-outdoors"
      width="335" 
      height="400"
      fetchpriority="high"
    />
  </div>
  <div class="TagsContainer">
    <span class="Tag">#Sport</span>
    <span class="Tag">#Healthy</span>
    <span class="Tag">#Workout</span>
    <span class="Tag">#Diet</span>
  </div>
  <div class="HeroSecondaryImage">
    <img
      srcset="./images/hero/icon-img.png 1x, ./images/hero/icon-img-2x.png 2x"
      src="./images/hero/icon-img.png"
      alt="young-women-doing-fitness-outdoors-together"
      width="168"
      height="100"
    />
  </div>
</section>